<h1><%= @shoe.brand %></h1>

<h4>This is the retailer(s) that carries <%= @shoe.brand %></h4>
<div>
  <% if @shoe.stores.any? %>
  <ul>
    <% @shoe.stores.each do |store| %>
      <li><%= store.name %></li>
    <% end %>
  </ul>
  <% else %>
    <p>There are currently no stores carrying this shoe</p>
  <% end %>
</div>

<a href='/'>Take me home tonight</a>
